* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #c6f5f0;
}

.error {
  font-size: 50px;
  color: red;

  position: absolute;
  width: 100%;
  top: 50%;
  text-align: center;
}
